# Files not uploaded to Cloud Build when deploying with `gcloud run deploy`.
.git
.gitignore
node_modules
.next
out
build
coverage
data
.env*
!.env.example
.vercel
*.tsbuildinfo
.DS_Store
npm-debug.log*
